p::first-line {
    font-size: 1.2rem;
    font-weight: bold;
    color:brown;
}

body{
    text-align: center;
    background-color: aliceblue;
}

.main_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content:center;
    border: 5px solid blue;
    margin: auto;
    width: 40%;
    padding: 10px;
  }