*   {
    box-sizing: border-box;
    }
    
    body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    min-block-size: 100vh;
    }


    .topnav {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5em;
    }

    .topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
    }

    .active{
    background-color: #000;
    border-radius: 999em;
    color: #fff !important;
    }

    .topnav a:hover:not(.active){
    background-color: #ddd;
    border-radius: 999em;
    color: black;
    }

    .column {
    float: left;
    padding:0;
    }

    .izq ul{
    list-style:none;
    display:flex;
    flex-direction: column;
    }

    .izq{
    float:left;
    width: 150px;
    margin-top:1%;
    background-color: #ddd;
    }

    .izq a{
    text-decoration: none;
    color:black;
    }

    .row::after {
    content: "";
    display: table;
    clear: both;
    }

    @media screen and (max-width:500px) {
    .header {
        background-color: #80461b;
    }
    }

    .pie_de_pagina{

        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

    }

    .header_image {

        display: inline-block;
        aspect-ratio: 16/9;
        object-fit: contain;
        mix-blend-mode: color-burn;

    }

    .header_text {

        display: inline-flex;
        width: 100%;
        height: 100;
        justify-content: center;
        align-items: center;


    }

    .header {

        display: flex;
        justify-content: space-evenly;
        background-color: rgb(32, 179, 170);
        padding: 20px;
        text-align: center;

    }